{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container"> 
        <div class="row"> 
            <div class="col-lg-12"> 
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <strong>Poniższa lista zawiera wszystkich użytkowników: </strong>
                    </div>
                          <div class="panel-table"> 
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Username</th>
                                    <th>Password</th>
                                    <th>Email</th>
                                    <th>Locale</th>
                                    <th>Isactive</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        <td><a href="{{ path('admin_user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                        <td>{{ entity.username }}</td>
                                        <td><a class="btn btn-danger btn-xs" href="{{ path('admin_user_creation_resetpassword', { 'id': entity.id }) }}">{% trans %}Change password{% endtrans %}</a></td>
                                        <td>{{ entity.email }}</td>
                                        <td>{{ entity.locale }}</td>
                                        <td>{{ entity.isActive }}</td>
                                        <td>
                                            <a class="btn btn-default btn-xs" href="{{ path('admin_user_show', { 'id': entity.id }) }}">show</a>
                                            <a class="btn btn-primary btn-xs" href="{{ path('admin_user_edit', { 'id': entity.id }) }}">edit</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    <div class="panel-body bg-danger"> 
                        <p class="text-danger text-justify">
                            <strong>Dodaj użytkownika:</strong>
                        </p>
                    </div>
                    <div class="panel-footer bg-danger">
                        {{ render(url('admin_user_creation'))}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
