{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container-fluid bg-danger">
        <div class="row">
            <div class="well col-lg-12">
              
                           {{ entity.id }}
                    
                           {{ entity.username }}
               
                           {{ entity.password }}
                
                           {{ entity.email }}
        
                           {{ entity.locale }}
          
                           {{ entity.isActive }}
                           
            </div>
        </div>
    </div>
{% endblock %}
