{% extends '::base.html.twig' %}

{% block body -%}
    <div class='container'>
        <div class='row'>
            <div class='col-lg-3'>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <strong>Debug [{{ callregister.id}}]</strong>
                    </div>
                    <div class="panel-body">
                        It's all about call at:<br/> <strong> {{ callregister.created|date('Y-m-d H:i') }}</strong>
                        <br/><br/>
                        Hello <strong>{{ callregister.createdBy }}</strong>
                        <br/><br/>
                        You are logged from <strong>{{ callregister.createdFromIp }}</strong>
                        <br/><br/>
                        Call source: <strong>{{ callregister.source }}</strong>
                        <br/><br/>
                        You are representing: <strong>{{ callregister.destination }}</strong>
                    </div>
                </div>
                {{ render(url('orders_show',{ 'callregister': callregister.id})) }}
            </div>
            <div class='col-lg-9'>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>Products [{{ callregister.id}}]</strong>
                    </div>
                    <div class="panel-body">


                        <div class="row">
                            <div class="col-lg-3 text-center">
                                <br/>
                                <img height=200 src="{{ asset('bundles/biocareproduct/img/1.png') }}" /> 
                                <br/>

                            </div>
                            <div class="col-lg-5 text-justify">
                                <h2>Delipox Professional</h2>     
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                                </p>

                            </div>
                            <div class="col-lg-4">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">&#8381;</div>
                                            <input type="text" class="form-control col-lg-3" id="exampleInputAmount" placeholder="Amount"/>
                                            <span class="input-group-btn">
                                                <button class="btn btn-success" type="button">Update cart</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>   
                {{ render(url('customer')) }}
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(".select2").select2({
            placeholder: "Select a state",
            allowClear: true
        });
    </script>
{% endblock %}