{% extends '::base.html.twig' %}

{% block body -%}
    <div class='container'>
        <div class='row'>
            <div class='col-lg-3'>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <strong>Debug [{{ callregister.id}}]</strong>
                    </div>
                    <div class="panel-body">
                        It's all about call at:<br/> <strong> {{ callregister.created|date('Y-m-d H:i') }}</strong>
                        <br/><br/>
                        Hello <strong>{{ callregister.createdBy }}</strong>
                        <br/><br/>
                        You are logged from <strong>{{ callregister.createdFromIp }}</strong>
                        <br/><br/>
                        Call source: <strong>{{ callregister.source }}</strong>
                        <br/><br/>
                        You are representing: <strong>{{ callregister.destination }}</strong>
                    </div>
                </div>
                {{ render(url('orders_show',{ 'callregister': callregister.id})) }}
            </div>
            <div class='col-lg-9'>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>Products [{{ callregister.id}}]</strong>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-3 text-center">
                            <img height=200 src="{{ asset('bundles/biocareproduct/img/1.png') }}" /> <br/>
                            <form class="form-inline">
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">&#8381;</div>
                                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                                        <button type="submit" class="input-group-addon btn btn-primary">Update cart</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>   
                {{ render(url('customer')) }}
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(".select2").select2({
            placeholder: "Select a state",
            allowClear: true
        });
    </script>
{% endblock %}