{% extends '::base.html.twig' %}

{% block body -%}
    <div class='container'>
        <div class='row'>
            <div class='col-lg-3'>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <strong>Debug [{{ callregister.id}}]</strong>
                    </div>
                    <div class="panel-body">
                        It's all about call at:<br/> <strong> {{ callregister.created|date('Y-m-d H:i') }}</strong>
                        <br/><br/>
                        Hello <strong>{{ callregister.createdBy }}</strong>
                        <br/><br/>
                        You are logged from <strong>{{ callregister.createdFromIp }}</strong>
                        <br/><br/>
                        Call source: <strong>{{ callregister.source }}</strong>
                        <br/><br/>
                        You are representing: <strong>{{ callregister.destination }}</strong>
                    </div>
                </div>
                {{ render(url('orders_show',{ 'callregister': callregister.id})) }}
            </div>
            <div class='col-lg-9'>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        {# <strong>Products [{{ callregister.id}}]</strong>  #} 
                        <ul class="nav nav-pills" role="tablist">
                            <li role="presentation" class="active"><a href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab"><h4>Varicoline</h4></a></li>
                            <li role="presentation"><a href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab"><h4>Delipox Professional</h4></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="tab-1">
                                <div class="col-lg-8 text-justify">
                                    <p class="well well-lg"> 
                                        <img class="pull-left img-thumbnail img-responsive" style="margin-right: 10px; height: 150px;" src="{{ asset('bundles/biocareproduct/img/2.png') }}" /> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolor e magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/><br/><br/>
                                        <strong class="pull-right">Price: 1200 RUB</strong>
                                    </p>
                                </div>
                                <div class="col-lg-4 well well-lg">
                                    <strong>Enter Qty to order:</strong>
                                    <br/>
                                    <br/>
                                    <div class="input-group">
                                        <div class="input-group-addon">QTY</div>
                                        <input onchange="getPrice(1)" name="qty" class="qty form-control col-lg-6" type="number" value="0" min="0"/>
                                    </div>
                                    <br/>
                                    <h2 class="text-right"><span class="priceValue">0</span> RUB<br/><small>+ shipping 300 RUB</small></h2> 
                                    <span class="text-success pull-right">Your provision: <span class="provisionValue">0</span> RUB </span> 
                                    <a href="#" class="pull-right btn btn-md btn-block btn-success">Add to cart</a>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab-2">
                                <div class="col-lg-6 text-justify">
                                    <p class="well well-lg">
                                        <img class="pull-left img-thumbnail img-responsive" style="margin-right: 10px; height: 150px;" src="{{ asset('bundles/biocareproduct/img/1.png') }}" /> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolor e magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                                    </p>
                                </div>
                                <div class="col-lg-6 well well-lg">

                                    <div class="row">
                                        <div class="col-lg-4 text-center"> 
                                            <strong>MAX:<br/> <span class="priceMax">0</span> RUB</strong>
                                            <input onchange="getPrice(2)" class="range form-control col-lg-6" type="range" orient="vertical" step="10" value="0" min="0" max="0"/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <strong>MIN:<br/> <span class="priceMin">0</span> RUB</strong>
                                        </div>
                                        <div class="col-lg-8"> 
                                            <strong>Enter Qty to order:</strong>
                                            <br/>
                                            <br/>

                                            <div class="input-group">
                                                <div class="input-group-addon">QTY:</div>
                                                <input onchange="getPrice(2)" name="qty" class="qty form-control col-lg-6" type="number" value="0" min="0"/>
                                            </div>
                                            <br/>
                                            <br/>
                                            <div class="input-group">
                                                <div class="input-group-addon">GRATIS:</div>
                                                <input name="qty" class="form-control col-lg-6" type="number" value="0" min="0" max="3"/>
                                                <div class="input-group-addon">MAX: 8</div>
                                            </div>
                                            <br/>
                                            <h2 class="text-right"><span class="priceValue">0</span> RUB<br/><small>+ shipping 300 RUB</small></h2> 
                                            <span class="text-success pull-right">Your provision: <span class="provisionValue">0</span> RUB </span> 
                                            <a href="#" class="pull-right btn btn-md btn-block btn-success">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>   
                {{ render(url('customer')) }}
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(".select2").select2({
            placeholder: "Select a state",
            allowClear: true
        });
    </script>
{% endblock %}