{% extends '::base.html.twig' %}

{% block body -%}
    <div class='container'>
        <div class='row'>
            <div class='col-lg-3'>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <strong>Debug</strong>
                    </div>
                    <div class="panel-body">
                        It's all about call at:<br/> <strong>{{ callregister.created|date('Y-m-d H:i') }}</strong> !
                        <br/>
                        <br/>
                        Hello <strong>{{ callregister.createdBy }}</strong> !
                        <br/><br/>
                        You are logged on <strong>{{ callregister.createdFromIp }}</strong> !
                        <br/>
                    </div>
                </div>
            </div>
{#            {{ render(url('destination')) }}#}
            {{ render(url('admin_source_one_by_callregister',{'callregister':callregister})) }}
        </div>
    </div>
{% endblock %}
