{% extends '::base.html.twig' %}

{% block body -%}
    {% set callregister = app.session.get('callregister') %}
    {% set callregister_flag = 1 %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <strong>{% trans %}Customers who called from same source {% endtrans %}  {{entity.callregister|default('')}}</strong>
        </div>
        <div class="panel-body">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Contact</th>                        
                        <th class="text-right">Address</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr {% if callregister.id==entity.callregister.id %} {% set callregister_flag = 0 %} class="bg-success" {% endif %}>
                            <td class="col-lg-1">{{ entity.id }} ({{ entity.callregister.id|default('null') }})</td>
                            <td class="col-lg-4">

                                <a data-toggle="modal" class="btn btn-xs btn-warning" href="{{ path('customer_edit', {'id':entity.id}) }}" data-target=".modal-customer_edit">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                {{ entity.firstname }} {{ entity.fathername }} {{ entity.lastname }}
                            </td>
                            <td class="col-lg-3">
                                <i class="glyphicon glyphicon-earphone"></i> {{ entity.phonenumber }}<br/>
                                <strong>@</strong> {{ entity.email }}
                            </td>
                            <td class="col-lg-4 text-right">
                                {% for address in entity.address %}
                                    <div class="btn-group btn-group-xs" role="group"/>
                                    <a class='btn btn-info' href="{{path('orders_set_customer_address',{'customer':entity,'address':address })}}">
                                        {{ address.postcode }}, {{ address.city }},{{ address.country|country(app.request.locale) }}<br/>
                                        <small>Nizinna 12/A2</small>
                                    </a>  
                                    <a data-toggle="modal" class="btn btn-xs btn-warning" href="{{ path('address_edit', {'id':address.id}) }}" data-target=".modal-address_edit">
                                        <br/>
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                    </div>
                                    <br/>
                                    <br/>
                                {% endfor %}
                                <a href="{{ path('address_new',{'id':entity.id}) }}" class="btn btn-success btn-xs" data-toggle="modal" data-target=".modal-address_new"><i class="glyphicon glyphicon-plus-sign"></i>  Add new address  </a>
                            </td>
                            <td>
                                {#                                <a class="btn btn-xs btn-primary" href="{{ path('admin_customer_show', { 'id': entity.id }) }}">show</a>#}

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        {% if callregister_flag %}
            <div class="panel-footer">
                <a class="btn btn-success" href="{{ path('customer_new') }}" data-toggle="modal" data-target=".modal-customer_new"><i class="glyphicon glyphicon-plus-sign"></i>
                     Add new Customer
                </a>
            </div>
        {% endif %}
    </div>
    
    <div class="modal fade modal-address_new" tabindex="-1" role="dialog" aria-labelledby="modal-address_new">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="modal fade modal-address_edit" tabindex="-1" role="dialog" aria-labelledby="modal-address_edit">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="modal fade modal-customer_new" tabindex="-1" role="dialog" aria-labelledby="modal-customer_new">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>   
    <div class="modal fade modal-customer_edit" tabindex="-1" role="dialog" aria-labelledby="modal-customer_edit">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>   
{% endblock %}
