{% extends '::base.html.twig' %}

{% block body -%}
    {% set callregister = app.session.get('callregister') %}
    {% set callregister_flag = 1 %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <strong>{% trans %}Customers who called from same source {% endtrans %}  {{entity.callregister|default('')}}</strong>
        </div>
        <div class="panel-body">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Phonenumber</th>
                        <th>E-mail</th>
                        <th>Address</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr {% if callregister.id==entity.callregister.id %} {% set callregister_flag = 0 %} class="bg-success" {% endif %}>
                            <td>{{ entity.id }} ({{ entity.callregister.id|default('null') }})</td>
                            <td>{{ entity.firstname }}</td>
                            <td>{{ entity.lastname }}</td>
                            <td>{{ entity.phonenumber }}</td>
                            <td>{{ entity.email }}</td>
                            <td class="text-center">
                                {% for address in entity.address %}
                                    <button class='btn btn-xs btn-info btn-block'>
                                        <div class="col-lg-2">  
                                            <a class="btn btn-xs btn-block" href="{{ path('admin_customer_edit', { 'id': entity.id }) }}">
                                                <i class="glyphicon glyphicon-edit"></i>
                                            </a>
                                        </div>
                                        <div class="col-lg-10">  
                                            {{ address.postcode }}, {{ address.city }},{{ address.country|country(app.request.locale) }}<br/>
                                            <small>Nizinna 12/A2</small>
                                        </div>
                                    </button>
                            {% endfor %}
                            </td>
                            <td>
                                {#                                <a class="btn btn-xs btn-primary" href="{{ path('admin_customer_show', { 'id': entity.id }) }}">show</a>#}
                                <a class="btn btn-xs btn-primary btn-block" href="{{ path('admin_customer_edit', { 'id': entity.id }) }}">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        {% if callregister_flag %}
            <div class="panel-footer">
                <a href="{{ path('admin_customer_new') }}">
                    Create a new entry
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
