{% extends '::base.html.twig' %}

{% block body -%}
    {% set callregister = app.session.get('callregister') %}
    {% set callregister_flag = 1 %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <strong>{% trans %}Customers who called from same source {% endtrans %}  {{entity.callregister|default('')}}</strong>
        </div>
        <div class="panel-body">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Phonenumber</th>
                        <th>Address</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr {% if callregister.id==entity.callregister.id %} {% set callregister_flag = 0 %} class="bg-success" {% endif %}>
                            <td>{{ entity.id }} ({{ entity.callregister.id|default('null') }})</td>
                            <td>{{ entity.firstname }}</td>
                            <td>{{ entity.lastname }}</td>
                            <td>{{ entity.phonenumber }}</td>
                            <td>
                                <div class="btn-group-vertical btn-group-sm btn-block" role="group" data-toggle="buttons">
                                    <label class="btn btn-success text-capitalize">
                                        Add new address
                                    </label>
                                    <div class="btn-group btn-group-sm btn-block" role="group" data-toggle="buttons">
                                    <button class="btn-info btn active">                                        
                                        Gdynia, Polska<br/> 
                                        <small>Wrocławska</small> 
                                    </button>
                                    <button class="btn-primary btn btn-xs"><i class="glyphicon glyphicon-edit"></i></button>
                                    </div>
                                    <label class="btn btn-info">
                                        <input type="radio" name="options" id="option2" autocomplete="off"/>
                                        Warszawa, Polska <br/> 
                                        <small>Jana Sebastana Bacha</small>
                                    </label>
                                    <label class="btn btn-info">
                                        <input type="radio" name="options" id="option3" autocomplete="off"/>
                                        Tarnów, Polska <br/> 
                                        <small>Trockistów</small>
                                    </label>
                                </div>                               
                            </td>
                            <td>
                                <a class="btn btn-xs btn-primary" href="{{ path('admin_customer_show', { 'id': entity.id }) }}">show</a>
                                <a class="btn btn-xs btn-primary" href="{{ path('admin_customer_edit', { 'id': entity.id }) }}">edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        {% if callregister_flag %}
            <div class="panel-footer">
                <a href="{{ path('admin_customer_new') }}">
                    Create a new entry
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
