{% extends '::base.html.twig' %}

{% block body -%}
    {% set callregister = app.session.get('callregister') %}
    {% set callregister_flag = 1 %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <strong>{% trans %}Customers who call from same source {% endtrans %}  {{entity.callregister|default('')}}</strong>
        </div>
        <div class="panel-body">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Phonenumber</th>
                        <th>Address</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr {% if callregister.id==entity.callregister.id %} {% set callregister_flag = 0 %} class="bg-success" {% endif %}>
                            <td>{{ entity.id }} ({{ entity.callregister.id|default('null') }})</td>
                            <td>{{ entity.firstname }}</td>
                            <td>{{ entity.lastname }}</td>
                            <td>{{ entity.phonenumber }}</td>
                            <td></td>
                            <td>
                                <a class="btn btn-xs btn-primary" href="{{ path('admin_customer_show', { 'id': entity.id }) }}">show</a>
                                <a class="btn btn-xs btn-primary" href="{{ path('admin_customer_edit', { 'id': entity.id }) }}">edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        {% if callregister_flag %}
            <div class="panel-footer">
                <a href="{{ path('admin_customer_new') }}">
                    Create a new entry
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
