{% extends '::base.html.twig' %}

{% block body -%}
    <div class="panel panel-info">
        <div class="panel-heading">
            <strong>{% trans %}Customers{% endtrans %}</strong>
        </div>
        <div class="panel-body">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Fathername</th>
                        <th>Phonenumber</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('admin_customer_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.firstname }}</td>
                            <td>{{ entity.lastname }}</td>
                            <td>{{ entity.fathername }}</td>
                            <td>{{ entity.phonenumber }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('admin_customer_show', { 'id': entity.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_customer_edit', { 'id': entity.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <a class="btn-sm btn btn-success" href="{{ path('admin_customer_new') }}">
                Create a new entry
            </a>
        </div>
    </div>
{% endblock %}
