{% block body -%}
    <div class="panel panel-success">
        <div class="panel-heading">
            <strong>Order</strong> {{ entity.id }} ({{ entity.callregister.id }})
        </div>
        <div class="panel-body">  
            <strong>Customer:</strong> <br/> 
            {{ entity.customer|default('Brak') }} <br/> <br/> 
            <strong>Address:</strong> <br/>
            {% if entity.address is defined %}
                {{ entity.address.postcode }}, {{ entity.address.city }}<br/>
                {{ entity.address.country|country(app.request.locale) }}<br/>
            {% else %}
                Brak
            {% endif %}
            <hr/>
            <strong>Cart:</strong> <br/>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Product<th>
                        <th>Qty<th>
                        <th>Price<th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><td>
                        <td><td>
                        <td><td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><td>
                        <td><td>
                        <td><td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
