{% block body -%}
    <div class="panel panel-success">
        <div class="panel-heading">
            <strong>Order</strong> {{ entity.id }} ({{ entity.callregister.id }})
        </div>
        <div class="panel-body">  
            <strong>Customer:</strong> <br/> 
            {{ entity.customer|default('Brak') }} <br/> <br/> 
            <strong>Address:</strong> <br/>
            {% if entity.address is defined %}
                {{ entity.address.postcode }}, {{ entity.address.city }}<br/>
                {{ entity.address.country|country(app.request.locale) }}<br/>
            {% else %}
                Brak
            {% endif %}
            <hr/>
            <strong>Cart:</strong> <br/>
            <table class="table table-bordered table-striped bg-success">
                <thead>
                    <tr>
                        <th class="text-center">Product</th>
                        <th class="text-center">Qty</th>
                        <th class="text-center">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-right"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="text-right">Transport:</td>
                        <td></td>
                        <td>250 RUB</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-right">Sum:</td>
                        <td></td>
                        <td><strong>250 RUB</strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
